@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myorder-heading{
    font-weight: bold;
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hr-for-myorders{
    width: 90vw;
    overflow: hidden;
}

.cardfooD{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cards-food{
    display: flex;
    flex-direction: column;
}